<div class="side-bar-header">
  <div class="header-name">
    <%= link_to 'My Calendar', "/" %>
  </div>
  <%# <div class="create-room">
    <a href="#">チャットを作成する</a>
  </div> %>
</div>

<div class="rooms">
  <div class="room">
    <div class="room-name">
      <a href="#">タスク</a>
    </div>
  </div>
  <div class="room">
    <div class="room-name">
    <%= link_to 'メモ', memos_path %>
    </div>
  </div>
  <div class="room">
    <div class="room-name">
      <a href="#">資料庫</a>
    </div>
  </div>
</div>