// Place all the styles related to the memos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.memos {
  background-color: #FAFAFA;
  padding: 20px 20px 0;
  overflow: scroll;
}

.upper-memo{
  display: flex;
}

.memo-user {
  color: #434a54;
  font-size: 16px;
}

.memo-date {
  color: #999;
  font-size: 12px;
  // padding-left: 10px;
}
.memo-delete {
  padding-left: 20px;
}
.memo-content {
  color: #434a54;
}



// .alert-font {
//   color: red;
// }
